@use "./base.scss";

// put your custom CSS here!
@use "./variables.scss" as *;

.left {
    display: grid !important;
    gap: 1.5rem !important;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content;
    align-items: center;

    .page-title {
        grid-area: 1 / 1 / 2 / 3;
    }

    .search {
        grid-area: 2 / 1 / 3 / 1;
    }

    .darkmode {
        grid-area: 2 / 2 / 3 / 3;
    }

    @media all and (max-width: $fullPageWidth) {
        display: flex !important;
    }
}


// Typography
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.05em;
    margin-top: 1em;
    margin-bottom: 0.25em;
    margin-left: -0.06em !important;
}

h1 {
    font-size: 1.65rem;
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 1.12em;
}

tbody,
li,
p {
    line-height: 1.5rem;
}

.page {
    & article {
        &>h1 {
            font-size: 1.75em;
        }
    }
}


// External Links
a {
    display: inline;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &.internal {
        text-decoration: none;

    }
}


// Superscripts
sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    top: -0.5em;
}


// Selection
::selection {
    background: color-mix(in srgb, var(--selection) 75%, transparent);
    color: currentColor;
}


// Logo Hover
text.logotitle:hover {
    fill: var(--secondary);
}


// Table of Contents
div.toc {
    #toc {
        color: var(--secondary);
        font-size: unset;
    }

    #toc-content ul {
        li {
            margin-bottom: 0.15rem;
        }

        a {
            color: var(--darkgray);

            &:hover {
                color: var(--secondary) !important;
            }
        }
    }
}

ul.overflow,
ol.overflow {

    &:after {
        opacity: 0;
    }
}


// Breadcrumbs
nav.breadcrumb-container {
    --bcGap: 0.25em;
    font-size: 0.88em;
    color: var(--dark);
    gap: unset;
    opacity: 0.6;

    .breadcrumb-element {
        margin-right: var(--bcGap);
        text-transform: capitalize;

        >p {
            display: none;
        }

        a {
            color: var(--dark);
        }
    }
}


// Recent Notes
.recent-notes {
    margin: 0 0 1em;
}

div.recent-notes>ul.recent-ul>li {
    margin: 0.75em 0;
}

.recent-notes .desc p {
    margin: 0;
}

.recent-notes .desc a {
    padding: 0;
    color: var(--secondary);
    background: none;

    &:hover {
        color: var(--tertiary) !important;
    }
}

.recent-notes .tags {
    display: none;
}


// Meta
%metaBase {
    font-size: 0.95em;
    color: var(--gray);
    opacity: 1;
}

p.content-meta {
    @extend %metaBase;
    margin-bottom: 2.5em;
}

.meta {
    @extend %metaBase;
    margin-bottom: 1em;
}


// Tables
.table-container {
    &>table {
        margin: 0;
        padding: 1.5rem;
        width: 100%;
    }
}

th {
    font-family: var(--headerFont);
    font-size: 0.95em;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: var(--misc_header);
    background-color: var(--misc_background);
    border: 1px solid var(--lightgray);
    padding: 8px;
}

td {
    border: 1px solid var(--lightgray);
    padding: 0.35em 0.5em;
    background-color: var(--misc_background2);
    font-family: var(--bodyFont);
    font-size: 0.95rem;
}


// Images
img {
    display: block;
    max-width: 95%;
    border-radius: 10px;
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;

    filter: sepia(10%) grayscale(20%);
}


// Caption
figcaption {
    text-align: center;
    color: var(--gray);
    margin: 0;

    a {
        font-weight: normal;
        color: var(--tertiary);

        &:hover {
            color: var(--tertiary) !important;
        }
    }
}


// Blockquotes
blockquote {
    margin: 1rem 2em 1em 0em;
    border-left: 3px solid var(--gray);
    padding-left: 1em;
    transition: border-color 0.2s ease;

    &:hover {
        border-color: var(--secondary);
    }

    p,
    li,
    span {
        color: var(--midgray);
    }

    p {
        margin-block-end: 0.55em;
    }

    ol {
        margin-block-start: 0.55em;
    }

    p>strong {
        color: var(--midgray) !important;

        &:hover {
            color: var(--tertiary) !important;
            transition: color 0.2s ease;
        }
    }

    a {
        color: var(--midgray);
    }
}


// Definition lists
dl {
    border: 1px solid var(--light);
    border-radius: 8px;
    background-color: var(--misc_background);
    padding: 8px 12px;
}


// Footnotes
.footnotes p {
    font-size: 0.92rem;
    color: var(--darkgray);

    i,
    em {
        color: var(--tertiary);
        font-style: normal;
    }
}


// Header
dt {
    text-decoration: underline;
    text-transform: uppercase;
    font-family: var(--headerFont);
    font-weight: bold;
    line-height: 2.40em;
    color: var(--misc_header);
}

dd {
    // Body
    font-family: var(--bodyFont);
    font-size: 0.95rem;
    font-weight: 500;
    color: var(--darkgray);
    margin-right: 20px;
}


// Emphasis
lg {
    color: var(--primary);
}


// Horizontal line
hr {
    width: 25%;
    margin: 3em auto;
    height: 2px;
    border-radius: 1px;
    border-width: 0;
    color: var(--gray);
    background-color: var(--gray);
}

// Callouts
.callout {
    border-radius: 6px;
    transition: border-color 0.3s ease;
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;

    &[data-callout="quote"] {
        --color: var(--secondary);
        --border: var(--light);
        --bg: var(--misc_background);
    }

    &:hover {
        border-color: var(--midgray);
    }

    p,
    li,
    span {
        color: var(--midgray);
    }
}